*{
    margin: 0;
    padding: 0;
  }
  body{
    font-family: 'Inter', sans-serif;
  }

  .container-items{
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    padding: 1rem;
    align-items: center;
    justify-content: space-between;
  }
  .shadow{
    background-color: #ffffff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.06);
  }
  
  
  .container-grid {
    flex: 1;
    display: grid;
    gap: 2rem;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  
  .grid-contents{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
  }
  .text-bold{
    font-size: 1.5rem;
    font-weight: 700;
  }
  .grid-4{
    gap: 1rem;
    display: grid;
  }
  .card {
    background-color: #ffffff;
    border-radius: 0.5rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    margin-bottom: 5px;
  }
  .card-header {
    display: flex;
    padding: 1rem;
    align-items: center;
    justify-content: space-between; 
    border-bottom: 1px solid #e5e7eb;
  }
  .text-semibold{
    font-size: 1.125rem;
    font-weight: 600;
  }
  .text-services{
    color: #6b7280;
    font-size: 0.875rem;
  }
  .text-muted{
    color: #007562;
    text-decoration: none;
  }
  .text-muted:hover{
    text-decoration: underline #007562;
  }
  .gap-2{
    display: flex;
  
  }
  .btn-accept{
    padding: 10px 20px;
    background-color: #007562;
    border: 1px solid transparent;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 5px;
  }
  .btn-decline{
    padding: 10px 20px;
    background-color:#f02121 ;
    border: 1px solid transparent;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 5px;
  }
  .btn-view{
    background: none;
    border-radius: 4px;
    border: 1px solid #d1d5db;
    cursor: pointer;
    font-size: 0.875rem;
    padding: 10px 20px;
  }
  .btn-view:hover{
    background-color: #ffffff;
    border: 1px solid #333333;
    color: #333333;
  }
  
  
  .btn-accept:hover{
    background-color: #ffffff;
    border: 1px solid #007562;
    color: #007562;
  }
  .btn-decline:hover {
    background-color: #ffffff;
    border: 1px solid #f02121;
    color: #f02121;
  }
  .card-content {
    padding: 1rem;
  }
  .text-explain{
    color: #6b7280;
  }
  .text-time{
    color: #6b7280;
    font-size: 0.875rem;
  }
  .text-time:hover{
    color: #9ca3af;
  }
  
  
  
  
  
  
  
  